.chart {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.chart-item {
  width: 46%;
  border: 1px solid #ddd;
  margin: 5px;
  padding: 10px;
}

.chart-item h2 {
  color: #ddbd04;
}

.content-left button {
  padding: 10px 18px;
  background-color: #ddbd04;
  border: none;
  border-radius: 8px;
  transition: ease 0.5s;
  font-size: 25px;
  cursor: pointer;
}

.content-left button:hover {
  background-color: #ddd;
}

.board-container h1 {
  text-align: center;
}

.answer {
  border: 1px solid #ddbd04;
  padding: 10px;
  margin-bottom: 20px;
}
