.footer h1 {
  color: #ddbd04;
}

.social-link a {
  padding: 5px 10px;
  margin: 2px;
  color: #fff;
  text-decoration: none;
  background-color: #f8d407;
  transition: ease 0.5s;
  border-radius: 8px;
}

.social-link a:hover {
  background-color: #ddd;
  color: #333;
}
